<<<<<<< HEAD
<h1>Create an Article</h1>
<form action="/articles" method="post">
  <p>Title: <input type="text" name="title"></p>
  <p>Content: <textarea name="content"></textarea></p>
  <input type="submit" id="submit"/>
=======
<h1>Make an article</h1>

<form action = '/articles' method = 'post'>
  <label for="title"> Title:</label> <input type = 'text' id = 'title' name = 'title'><br>
  <label for="content"> Content:</label> <input type = 'content' id = 'content' name = 'content'><br>
  <input type ="submit" value = "submit" id = "submit">
>>>>>>> c41125ab6005dd263a91ae3feb7184e7ca661344
</form>